<html>
    <head>
        <title>Micha's blog</title>
    </head>
    <body>
        <div>
          <h1><a href="/">Micha's Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>published:22.05.2018, 15:40</p>
            <p>The Djangogirls Workshop ist great!</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>published:22.05.2018, 15:47</p>
            <p>The Cupcakes are delicious!</p>
        </div>
    </body>
</html>
